<div>
    <div class="btn-group">
        <button class="btn btn-primary" (click)="gotoSection('section1')">Section 1</button>
        <button class="btn btn-primary" (click)="gotoSection('section2')">Section 2</button>
        <button class="btn btn-primary" (click)="gotoSection('section3')">Section 3</button>
    </div>
    <div class="bg-warning" id="section1">
        <br> <br> <br> <br> <br> <br> 
        This is section 1
        <br> <br> <br> <br> <br> <br>
    </div>
    <div class="bg-info" id="section2">
        <br> <br> <br> <br> <br> <br> 
        This is section 2
        <br> <br> <br> <br> <br> <br>
    </div>
    <div class="bg-danger" id="section3">
        <br> <br> <br> <br> <br> <br> 
        This is section 3
        <br> <br> <br> <br> <br> <br>
    </div>
</div>