<div class="container-fluid">
    <div class="jumbotron btn-group">
        <h4 class="text-uppercase">w3schools topics</h4>
        <button class="btn btn-primary">Home</button><button class="btn btn-primary">Get Started</button><button
            class="btn btn-primary">Grid System</button><button class="btn btn-primary">Typography</button><button
            class="btn btn-primary">Tables</button><button class="btn btn-primary">Images</button><button class="btn btn-primary">Jumbotron</button><button
            class="btn btn-primary">Wells</button><button class="btn btn-primary">Alerts</button><button
            class="btn btn-primary">Button</button><button class="btn btn-primary">Button Groups</button><button class="btn btn-primary">Glyphicons</button><button
            class="btn btn-primary">Badges/Labels</button><button class="btn btn-primary">Progress
            bars</button><button class="btn btn-primary">Pagination</button><button
            class="btn btn-primary">Panel</button><button class="btn btn-primary">Dropdown</button><button
            class="btn btn-primary">Collapse</button><button class="btn btn-primary">Tabs/Pills</button><button
            class="btn btn-primary">Navbar</button><button class="btn btn-primary">Forms</button><button class="btn btn-primary">Input</button><button class="btn btn-primary">Input 2</button><button class="btn btn-primary">Input sizing</button><button class="btn btn-primary">Media objects</button><button class="btn btn-primary">Carousal</button><button
            class="btn btn-primary">Modal</button><button class="btn btn-primary">Tooltip</button><button
            class="btn btn-primary">Popover</button><button class="btn btn-primary">Scrollspy</button><button
            class="btn btn-primary">Affix</button><button
            class="btn btn-primary">Filters</button>
    </div>
</div>



<p>dashboard works!</p>



-Project structure
BS3 or BS4
Index component - list of component/topics in w3schools (only name), topic redirection + intro + demo + *w3 reference +
**discontinued
How to
code playground
Reference - Links
Cheatsheets - tables list, tables list based on w3 topics, custom files
Queries
Emmnet way to write code