<div class="row bg-warning mobile_view">
    <p>If we donot put mobile_view class then according by bootstrap rule col-9 section will be above and col-3 section will be below it.</p>
    <p>But, we can change it using flex property of css.</p>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 bg-danger">
        <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br> 
        
        <p class="text-center">This section is col-9</p>
        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 bg-primary">
        <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
        
        <p class="text-center">This section is col-3</p>
        
    </div>

</div>