
  @media (min-width: 0px) and (max-width: 767px) {
    .mobile_view {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .mobile_view {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }